:root
{
    --lightGray-color: #2d3748;
    --darkGray-color: #192029;
    --shadow-color: rgba(0, 0, 0, 0.3);
}

body
{
    font-family: monospace;
    color: white;
    background-color: var(--lightGray-color);
}

h1
{
    text-align: center;
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
}

.code-text-field
{
    height: 140px;
    border-radius: 10px;
    background: var(--darkGray-color);
    white-space: pre;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 30px;
    padding: 20px;
    font-size: large;
    box-shadow: 0px 4px 10px var(--shadow-color);
}

.button
{
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 10px var(--shadow-color);
    background-color: var(--lightGray-color);
}

.button-dark
{
    background-color: var(--darkGray-color);
    margin: 30px;
    transform: translate(0px, -250px);
}

.button-correct
{
    background-color: rgb(43, 153, 43);
}

.button-incorrect
{
    background-color: rgb(172, 38, 38);
}

.button-container
{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
}

.dialog
{
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 170px;
    width: 200px;
    background: var(--darkGray-color);
    border-radius: 10px;
    padding: 20px;
    font-size: large;
    text-align: center;
    z-index: 1000;
    box-shadow: 0px 4px 10px var(--shadow-color);
}

.dialog-correct
{
    background-color: rgb(43, 153, 43);
}

.dialog-incorrect
{
    background-color: rgb(172, 38, 38);
}

.line-number
{
    color: rgb(103, 115, 136);
    user-select: none;
    margin-right: 20px;
}

.leaderboard
{
    background: var(--darkGray-color);
    width: 20%;
    padding: 15px;
    box-shadow: 0px 4px 10px var(--shadow-color);
    border-radius: 10px;
    font-size: large;
    transform: translate(0px, -250px);
}

form
{
    /*display: none;*/
    background-color: var(--lightGray-color);
}