:root
{
    --lightGray-color: #828ea1;
    --gray-color: #2d3748;
    --darkGray-color: #192029;
    --shadow-color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

body
{
    font-family: monospace;
    color: white;
    background-color: var(--gray-color);
}

p
{
    font-size: large;
}

h1
{
    text-align: center;
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
}

h2
{
    text-align: center;
}

input
{
    border-radius: 10px;
    border-width: 0px;
    margin-top: 10px;
    font-size: medium;
    background: var(--lightGray-color);
}

input[type="text"]
{
    width: 90%;
    height: 30px;
    padding-left: 10px;
}

input[type="submit"]
{
    width: 40%;
    height: 35px;
}

.button
{
    background: var(--gray-color);
    color: white;
    padding: 10px 20px;
    font-size: large;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 10px var(--shadow-color);
}

.button-dark
{
    background: var(--darkGray-color);
}

.button-correct
{
    background: rgb(43, 153, 43);
}

.button-incorrect
{
    background: rgb(172, 38, 38);
}

.button-container
{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
}

.container
{
    background: var(--darkGray-color);
    border-radius: 10px;
    box-shadow: 0px 4px 10px var(--shadow-color);
    width: fit-content;
    height: fit-content;
    padding: 25px 30px;
}

.dialog
{
    display: none;
    position: fixed;
    top: 35%;
    left: 50%;
    height: 170px;
    width: 200px;
    text-align: center;
    z-index: 1000;
}

.line-number
{
    color: rgb(103, 115, 136);
    user-select: none;
    margin-right: 20px;
}

.daily-quiz-question-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: medium;
}

.sidebar
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.page
{
    display: flex;
    align-items: flex-start;
    min-height: 96vh;
    padding: 1rem;
    box-sizing: border-box;
}

.center
{
    flex: 3;
}

#sidebar-left
{
    align-items: flex-start;
}

#sidebar-right
{
    align-items: flex-end;
}

#dialog-correct
{
    background: rgb(43, 153, 43);
}

#dialog-incorrect
{
    background: rgb(172, 38, 38);
}

#daily-quiz-dialog
{
    transform: translate(-50%, 40%);
    width: 15%;
    height: 25%;
}

#code-text-field
{
    height: 140px;
    width: 350px;
    white-space: pre;
    justify-self: center;
}

#leaderboard
{
    white-space: pre;
}

#daily-quiz-question-container
{
    display: flex;
    justify-content: center;
    gap: 10px;
}